<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Welcome</title>
  <link href="http://cdn.bootcss.com/bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/stylesheets/bootstrapValidator.min.css" rel="stylesheet" />
  <link href="/stylesheets/sqy.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <h2 class="text-center">Welcome!<a class="admin" href="/settings">.</a></h2>
  <div class="row">
    <div class="span2">

    </div>
    <div class="span8">
      <br/>
      <p>본 연구에서 여러분은 사건을 읽고 ‘유죄’ 와 ‘유죄가 아닌지’에 대해서 판단을 할 예정입니다.</p>
      <p>실험에 앞서 아래의 내용을 숙지해주시기 바랍니다.</p>
      
      <div class="well">
        <p>헌법과 형사소송법의 <b>‘무죄추정의 원칙’</b>에 따라 피고인은 유죄의 판결을 선고받아 확정될 때까지는 무죄로 추정됩니다. 피고인은 자신이 무죄임을 증명하여야 할 의무가 없습니다. 피고인을 유죄로 인정하기 위해서는 합리적인 의심의 여지가 없을 정도로 피고인이 유죄임을 검사가 증명하여야 합니다.</p>
        <p><b>‘합리적인 의심의 여지가 없을 정도’</b>라는 의미는 공소사실에 대해 논리적 또는 이성적으로 의심이 제기되지 않는 상태를 말합니다. 따라서 여러분이 이성과 상식을 동원해서 모든 증거들을 꼼꼼히 비교검토한 후에도 공소사실이 맞다는 확신이 든다면 그 때 비로소 합리적인 의심의 여지가 없이 피고인을 유죄라고 결정할 수 있습니다. 이와 반대로 공소사실에 대한 합리적인 의심의 여지가 있다고 생각하신다면 여러분은 피고인이 ‘유죄가 아님’으로 결정해야 합니다.</p>
        <p>피고인은 진술거부권이 있기 때문에 형사재판에서 일체의 진술을 하지 아니하거나 개개의 질문에 대하여 대답을 거부할 수 있습니다. 진술을 거부하는 것은 무죄인 것으로 추정되는 피고인의 권리이므로 피고인이 진술을 거부하더라도 이를 피고인에게 불리한 판단자료로 삼아서는 아니 됩니다.</p>
      </div>
      <div class="form-group text-center">
        <br/>
        <p class="text-center">위의 내용을 이해하셨다면 다음 버튼을 누르시기 바랍니다.</p>
        <br/>
        <a type="button" class="btn btn-success btn-large" href="/intro">START</a>
      </div>
      </form>
    </div>
    <div class="span2"></div>
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
<script>
$(document).ready(function() {
  $('#startForm').bootstrapValidator({
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      pid: {
        validators: {
          notEmpty: {
              message: 'The participant ID is required'
          },
          numeric: {
              message: 'The participant ID must be a number'
          }
        }
      }
    }
  });
});
</script>
</body>
</html>